<?xml version='1.0' encoding='UTF-8' ?> 
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <h:head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <h:outputStylesheet name="./css/default.css"/>
        <h:outputStylesheet name="./css/cssLayout.css"/>
        <title>Facelets Template</title>
    </h:head>

    <h:body>

        <div id="top" class="top">
            <ui:insert name="top"></ui:insert>
            <div id="TabMenu">
                <p:tabMenu activeIndex="#{param.i}">
                    <p:menuitem value="VACAS" outcome="/views/PaginaCliente" icon="ui-icon-star">
                        <f:param name="i" value="0" />
                    </p:menuitem>
                    <p:menuitem value="Datos Personales" outcome="/views/PaginaCliente" icon="ui-icon-document">
                        <f:param name="i" value="1" />
                    </p:menuitem>
                    <p:menuitem value="Datos Zoossanitarios" outcome="/views/PaginaCliente" icon="ui-icon-document">
                        <f:param name="i" value="2" />
                    </p:menuitem>
                    <p:menuitem value="Eventos" outcome="/views/PaginaCliente" icon="ui-icon-contact">
                        <f:param name="i" value="3" />
                    </p:menuitem>
                    <p:menuitem value="Reportes" outcome="/views/PaginaCliente" icon="ui-icon-person">
                        <f:param name="i" value="4" />
                    </p:menuitem>
                </p:tabMenu>
            </div>
        </div>
        <div id="content" class="center_content">
            <ui:insert name="content">Content</ui:insert>
        </div>

    </h:body>

</html>
