<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets">
    -Djava.awt.headless = true 
    <body style="background-color: #100E0E">

        <ui:composition template="./../templates/plantilla.xhtml">

            <ui:define name="content">
                <div id="Principal" align="right">
                    <table style="background-color: #FFFFFF">
                        <tr>
                            <td>
                                <form id="demoform" method="post" action="ServletAplication" name="datosGanado" >
                                    <fieldset>
                                        <legend>Datos Personales del Ganado</legend>
                                        <!-- Input text -->
                                        <label>Número del Ganado:</label>
                                        <input type="text" name="Num_ganado" required="" value="" ></input><br/>
                                        <br/>
                                        <!-- Input text -->
                                        <label>Origen:</label>
                                        <input type="text" name="Origen_ganado" required="" value="" ></input><br/>
                                        <br/>
                                        <!-- Input text -->
                                        <label>Edad:</label>
                                        <input type="text" name="Edad_ganado" required="" value="" ></input><br/>
                                        <br/>
                                        <!-- Radio button group -->
                                        <label>Sexo:</label>
                                        <div class="zdk-radiobuttongroup" data-name="Sexo_ganado">
                                            <input type="radio" name="Macho" value=""></input>
                                            <label>Macho</label>
                                            <input type="radio" name="Hembra" value=""></input>
                                            <label>Hembra</label><br/>
                                        </div>
                                        <br/>
                                        <!-- Input text -->
                                        <label>Peso:</label>
                                        <input type="text" name="Peso_ganado" required="" value="" ></input><br/>
                                        <br/>
                                        <label>Fecha de nacimiento:</label>
                                        <input type="date" name="Fecha_nacimiento_ganado" value="" />
                                        <br/>
                                        <label>Fecha de muerte:</label>
                                        <input type="date" name="Fecha_muerte_ganado" value="" />
                                    </fieldset>
                                    <button type="submit" value="">Submit</button>
                                    <button type="reset" value="" >Reset</button>
                                    <button id="bt-defval-demo" type="button">
                                        Fill out
                                    </button>
                                </form>
                            </td>
                        </tr>
                    </table>
                </div>
            </ui:define>
        </ui:composition>
    </body>
</html>
