<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets">

    <body style="background-color: #100E0E">

        <ui:composition template="./../templates/plantilla.xhtml">

            <ui:define name="content">
                <form id="demoform" class="zdk-form">
                    <table width="35%" align="right" border="0" cellspacing="0" cellpadding="0" style="background-color: #FFFFFF">
                        <tr>
                            <td>
                                <fieldset>
                                    <legend align="center">Datos Zoosanitarios</legend>
                                    <!-- Input text -->
                                    <label>Numero Ganado</label>
                                    <input type="text" name="inputtext" required="text" >
                                        <button class="Buscar" type="Buscar">Buscar</button>
                                        <option></option>
                                        <!-- Textarea -->
                                        <option> <label>Vacunas</label> </option>
                                        <textarea name="textarea" rows="2" required="texttarea" ></textarea> 
                                        <button class="Actualizar" type="Actualizar">Actualizar</button>
                                        <!-- Dropdown -->
                                        <option> <label>Aseo</label> </option>
                                        <input type="text" name="inputtext" required="text" > </input>
                                        <button class="Actualizar" type="Actualizar">Actualizar</button>
                                        <button class="Guardar" type="Guardar">Guardar</button>
                                        <!-- Radio button group -->
                                        <option> <label>Alimentación</label> </option>
                                        <input type="text" name="inputtext" required="text" > </input>
                                        <option> <label>Tipo de alimento:</label> </option>
                                        <select class="tipoalimento" name="tipo alimento">
                                            <option value="">Selecciona Tipo de Alimento</option>
                                            <option value="1">Pasto</option>
                                            <option value="2">Forraje</option>
                                        </select>
                                        <option></option>
                                        <button class="Actualizar" type="Actualizar">Actualizar</button> 
                                        <button class="Guardar" type="Guardar">Guardar</button>                          
                                    </input>
                                </fieldset>
                            </td>
                        </tr>
                    </table>
                </form>
            </ui:define>

        </ui:composition>

    </body>
</html>
