<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <body style="background-color: #100E0E">

        <ui:composition template="./../templates/plantilla.xhtml">

            <ui:define name="content">
                <table style="background-color: #FFFFFF" align="right">
                    <tr>
                        <td>
                            <h:form id="form">

                                <table border="1">
                                    <tr>
                                        <td bgcolor="#F4806D"><strong>Numero Evento</strong></td>
                                        <td bgcolor="#F4806D"><strong>Fecha del Evento</strong></td>
                                        <td bgcolor="#F4806D"><strong>Detalle del Evento</strong></td>
                                    </tr>

                                    <tr>
                                        <td bgcolor="#FFFFD3" align="center">CSS</td>
                                        <td bgcolor="#FFFFD3" align="center">20</td>
                                        <td bgcolor="#FFFFD3" align="center">16:00 - 20:00</td>
                                    </tr>

                                    <tr>
                                        <td bgcolor="#FFFFD3" align="center">HTML</td>
                                        <td bgcolor="#FFFFD3" align="center">20</td>
                                        <td bgcolor="#FFFFD3" align="center">16:00 - 20:00</td>
                                    </tr>

                                    <tr>
                                        <td bgcolor="#FFFFD3" align="center">Dreamweaver</td>
                                        <td bgcolor="#FFFFD3" align="center">60</td>
                                        <td bgcolor="#FFFFD3" align="center">16:00 - 20:00</td>
                                    </tr>
                                </table>
                                <p:growl id="msgs" showDetail="true" />
                                <h:panelGrid columns="2" cellpadding="5">
                                    <p:outputLabel for="button" value="Evento por Agregar:" />
                                    <p:calendar id="button" value="#{calendarView.date3}" showOn="button" />
                                    <option> <h:outputText value="Detalle del Evento:" /> </option>
                                    <p:inputTextarea/>
                                </h:panelGrid>
                                <p:commandButton value="Agendar" update="msgs" actionListener="#{calendarView.click}" icon="ui-icon-check" />

                                <p:dialog modal="true" resizable="false" header="Values" widgetVar="dlg" showEffect="fold">
                                    <p:panelGrid id="display" columns="2" columnClasses="label,value">
                                        <h:outputText value="Evento por Agregar:" />
                                        <h:outputText value="#{calendarView.date3}">
                                            <f:convertDateTime pattern="MM/dd/yyyy" />
                                        </h:outputText>
                                    </p:panelGrid>
                                </p:dialog>
                            </h:form>
                        </td>
                    </tr>
                </table>
            </ui:define>
        </ui:composition>
    </body>
</html>
